<div class="announcement-bar">
    <div class="announcement-wrapper">
        {% for announcement in section.blocks %}
        <p class="announcement-text announcement-text--header h5">
            {{ announcement.settings.text |  escape }}
        </p>
        <p class="announcement-text announcement-text--subtext">
            {{ announcement.settings.subtext |  escape }}
        </p>
        {% endfor %}
    </div>
</div>
{% schema %}
{
    "name": "t:sections.my-announcement-bar.name",
    "max_blocks": 4,
    "class": "my-announcement-bar-section",
    "settings": [
        {
            "type": "header",
            "content": "t:sections.my-announcement-bar.settings.header__2.content"
        }
    ],
    "blocks": [
        {
            "type": "announcement",
            "name": "t:sections.my-announcement-bar.blocks.announcement.name",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "default": "Announcement for store",
                    "label": "t:sections.my-announcement-bar.blocks.announcement.settings.text.label"
                },
                {
                    "type": "text",
                    "id": "subtext",
                    "default": "This is a subtext",
                    "label": "t:sections.my-announcement-bar.blocks.announcement.settings.subtext.label"
                }
            ]
        }
    ],
    "presets": [
        {
        "name": "t:sections.announcement-bar.presets.name",
        "blocks": [
            {
            "type": "announcement"
            }
        ]
        }
    ]
}
{% endschema %}