.my-slideshow {
  height: 750px;
}
.banner__box {
  background-color: transparent;
}
.slideshow__text {
  color: white;
  font-size: 4rem;
  font-weight: 800;
  line-height: 5rem;
}
.banner__heading {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 2rem;
}
.banner-text {
  margin-top: 0;
}
