.my-announcement-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem 0;
}
.announcement-wrapper {
  padding: 0 1rem;
}
.announcement-text--header {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.15rem;
}
.announcement-text--subtext,
.announcement-text--header {
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
  line-height: 1.5rem;
}

@media screen and (max-width: 750px) {
  .my-announcement-bar {
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - 2 * 20px) / 3);
  }
  .announcement-wrapper {
    grid-row: 1;
    width: 100%;
  }
}
