.my-announcement-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: x mandatory;
}
.announcement-wrapper {
  width: 100%;
  padding: 0 1rem;
}
.announcement-text--header {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.15rem;
}
.announcement-text--subtext,
.announcement-text--header {
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
  line-height: 1.5rem;
}
@media screen and (max-width: 750px) {
  .my-announcement-bar {
    justify-content: unset;
  }
  .my-announcement-bar::-webkit-scrollbar {
    display: none;
  }
  .announcement-wrapper {
    flex-shrink: 0;
    scroll-snap-align: center;
  }
}
