.my-slideshow {
  height: 750px;
}
.banner__box {
  background-color: transparent;
}
.slideshow__text {
  color: white;
}
.banner__heading {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 2rem;
}
